@page "{id:int}"
@model FUNewsManagement.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Category Details";
}

<div class="container-fluid">
    <h1>Category Details</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.Category.CategoryName)</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.Category.CategoryName)</dd>

            <dt class="col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.Category.CategoryDesciption)</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.Category.CategoryDesciption)</dd>
        </dl>
    </div>
    <div class="mt-4">
        <a asp-page="./Edit" asp-route-id="@Model.Category.CategoryId" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
