@page "{id}"
@model FUNewsManagement.Pages.NewsArticles.DetailsModel

@{
    ViewData["Title"] = "News Article Details";
}

<div class="container-fluid">
    <h1>News Article Details</h1>
    <hr />
    <div>
        <dl class="row">
            <dt class="col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.NewsArticle.NewsTitle)</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.NewsArticle.NewsTitle)</dd>

            <dt class="col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.NewsArticle.NewsContent)</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.NewsArticle.NewsContent)</dd>

            <dt class="col-sm-3 col-md-2">@Html.DisplayNameFor(model => model.NewsArticle.CreatedDate)</dt>
            <dd class="col-sm-9 col-md-10">@Html.DisplayFor(model => model.NewsArticle.CreatedDate)</dd>
        </dl>
    </div>
    <div class="mt-4">
        <a asp-page="./Edit" asp-route-id="@Model.NewsArticle.NewsArticleId" class="btn btn-primary">Edit</a>
        <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
